.App {
  text-align: center;
  font-family: "Roboto";
}

.ButtonSubmit {
  margin-left: 25px;
  border-radius: 3px;
  padding: 15px 20px;
  background: #408Af8;
  color: white;
  font-weight: 700;
  border-color: #408Af8;
}

.ButtonRemove {
  margin-left: 25px;
  border-radius: 3px;
  padding: 12px 20px;
  background: #bb1c1c;
  color: white;
  font-weight: 700;
  border-color: #bb1c1c;
  margin-right: 75px;
}

Button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #c7c4c4;
  border-radius: 4px;
  font-size:14px;
}

input:hover {
  border: 2px solid #408Af8;
}

input:focus {
  border: 2px solid #20639B;
}

ul {
  list-style-type: none;
  text-align: left;
  margin-left: 60px;
  width: 80%;
}

li {
  padding: 10px 0px;
  margin-left: 30px;
  font-size:14px;
}
